<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yellow</title>
  <link rel="shortcut icon" href="./../images/yellow-icon.jpeg">
  <link rel="stylesheet" href="./../css/page.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

     <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>
       
    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "119890203255177");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>
       
    <!-- Your SDK code -->
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                xfbml : true,
                version : 'v13.0'
            });
        };
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="container-fluid" style="background-color:FFFFFF;">
    <br>
    <!-- <h1 style="text-align: left; padding: 50px"> 
        <img src="./images/yellow-icon.png" alt="icon" style="width: 80px; height: 80px; object-fit: contain; object-position: center center"> 
    </h1> -->
    <!-- <h2 class="display-6" style="text-align: center;"> 
        <small class="text-muted">Yellow</small>
    </h2> -->
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light" style="text-align: center">
        <img src="./../images/yellow-icon.jpeg" alt="icon" class='logo-round' style="width: 50px; height: 50px; object-fit: contain; object-position: left left"> 
        <!-- toggle button for mobile nav -->
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
        <!-- navbar links -->
         <div class="collapse navbar-collapse justify-content-center" id="main-nav">
             <ul class="navbar-nav">
             <li class="nav-item">
                <a class="nav-link" href="myanmarversion-home.html" target = "_blank">ပင်မစာမျက်နှာ</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#shop" target = "_blank">Shop</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="#" target = "_blank">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" target = "_blank">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" target = "_blank">အရောင်းဆိုင်မူဝါဒ</a>
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link" href="contact.html" target = "_blank">Contact Us</a> -->
                <a href="myanmarversion-contact.html" target = "_blank" class="btn btn-warning btn-sm">ဆက်သွယ်ရန်</a>
            </li>
  </nav>
  <div class="position-relative" style="text-align: center; padding: 50px">
    <h6>
        <!-- <p>
            <img src="./../images/background_pic.jpeg" alt="background Image" class="responsive">
            <div class="centered">
                <a href="shop.html" target = "_blank" class="btn btn-lg btn-warning">Shop</a>
            </div>
        </p>  -->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./../images/background_pic.jpeg" class="d-block w-100" alt="...">
                <div class="centered">
                    <a href="shop.html" target = "_blank" class="btn btn-lg btn-warning">ရှာဖွေရန်</a>
                </div>
              </div>
              <div class="carousel-item">
                <img src="./../images/background_pic.jpeg" class="d-block w-100" alt="...">
                <div class="centered">
                    <a href="shop.html" target = "_blank" class="btn btn-lg btn-warning">ရှာဖွေရန်</a>
                </div>
              </div>
              <div class="carousel-item">
                <img src="./../images/background_pic.jpeg" class="d-block w-100" alt="...">
                <div class="centered">
                    <a href="shop.html" target = "_blank" class="btn btn-lg btn-warning">ရှာဖွေရန်</a>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </h6> 
  </div>
  <h4 style="text-align: center; padding: 20px">
    <a href = "https://www.facebook.com/yellow1106" class="bi bi-facebook" target = "_blank"> </a>
  </h4>
    <div id="copyright-footer" class="container"> 
        <div style="text-align: center;" class="col">  
            <!-- 📱 +95 9 501 5933  -->
            <a href="tel:+95 9 501 5933 "> 
                <p class="bi bi-phone"> +95 9 501 5933 </p>
            </a>
        </div> 
        <hr> 
        <div style="text-align: center;" class="col"> ©️2022 by Yellow | 👨🏻💻 Toe Arkar</div> 
    </div>
    <br>
</div>
</body>
</html>